body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
    color: #0073e6;
    text-align: center;
}
.body {
    text-align: center;
}

.date {
    margin: 5px;
}

.date strong {
    color: red;
}
