/* 管理者画面全体のスタイリング */
.admin {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* ヘッダーのスタイリング */
.admin__header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 10px;
}

/* コンテナのスタイリング */
.admin__container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.admin__container__send-mail-button {
    float: right;
    background-color: #FFB74C;
    color: rgb(236, 236, 234);
    border-radius: 2px;
    padding: 5px 7px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}
.admin__container__send-mail-button:hover {
    background-color: #816018;
    color: #ccc;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

/* テーブルスタイリング */
.admin__container__table {
    width: 100%;
    border-collapse: collapse;
}

.admin__container__table-row__header {
    background-color: #b9b9b9;
    color: #fcf9f9;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

.admin__container__table-row {
    border-bottom: 1px solid #ddd;
}

.admin__container__table-row__detail {
    text-align: left;
    padding: 12px;
    color: #666;
}

/* リンクスタイリング */
.admin__container__table-row__detail a {
    display: inline-block;
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 2px;
    padding: 2px 4px;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.admin__container__table-row__detail a:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .admin__container {
        width: 95%;
        padding: 5px;
    }

}