.shop-reservation-confirm {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.shop-reservation-confirm__header {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

 /* 表が幅を超えた場合にスクロールバーを表示 */
.shop-reservation-confirm__container {
    width: 100%;
    overflow-x: auto;
}

.shop-reservation-confirm__container__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

.shop-reservation-confirm__container__table-row {
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.shop-reservation-confirm__container__table-row__header {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.shop-reservation-confirm__container__table-row__detail {
    padding: 7px;
    border-top: 1px solid #dee2e6;
}

.shop-reservation-confirm__container__table-row__detail__select {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
  }

.shop-reservation-confirm__container__table-row__detail__submit {
    background-color: #ff5100;
    border: none;
    color: #fff;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 2px;
}
.shop-reservation-confirm__container__table-row__detail__submit:hover {
    opacity: 0.7;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .shop-reservation-confirm__container {
        padding: 10px;
    }

    .shop-reservation-confirm__container__table {
        font-size: 12px;
    }

    .shop-reservation-confirm__container__table-row__header,
    .shop-reservation-confirm__container__table-row__detail {
        padding: 8px 5px;
    }

    .shop-reservation-confirm__container__table-row__detail__select,
    .shop-reservation-confirm__container__table-row__detail__submit {
        font-size: 10px;
        padding: 5px;
    }

    .shop-reservation-confirm__container__table-row__detail__submit {
        padding: 4px 6px;
    }
}

@media (max-width: 428px) {
    .shop-reservation-confirm__container {
        padding: 0px;
    }
    .shop-reservation-confirm__header {
        font-size: 16px;
    }

    .shop-reservation-confirm__container__table-row__header {
        padding: 2px 3px;
    }

    .shop-reservation-confirm__container__table-row__detail {
        word-wrap: break-word; /* 単語の折り返しを許可 */
    }

    .shop-reservation-confirm__container__table-row__detail__select,
    .shop-reservation-confirm__container__table-row__detail__submit {
        width: auto; /* セレクトボックスとボタンの幅を自動調整 */
    }
}